@font-face {
	font-family: 'Medium';
	src: url('../fonts/HomizioMedium-gRr6.eot');
	src: local('☺'), url('../fonts/HomizioMedium-gRr6.woff') format('woff'), url('../fonts/HomizioMedium-gRr6.ttf') format('truetype'), url('../fonts/HomizioMedium-gRr6.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bold';
	src: url('../fonts/HomizioBold-LKx4.eot');
	src: local('☺'), url('../fonts/HomizioBold-LKx4.woff') format('woff'), url('../fonts/HomizioBold-LKx4.ttf') format('truetype'), url('../fonts/HomizioBold-LKx4.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Light';
	src: url('../fonts/HomizioLight-XJzK.eot');
	src: local('☺'), url('../fonts/HomizioLight-XJzK.woff') format('woff'), url('../fonts/HomizioLight-XJzK.ttf') format('truetype'), url('../fonts/HomizioLight-XJzK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}