@media(max-width: 1280px) {

  .header__top,
  .header__info {
    margin-bottom: 160px;
  }

  .content__name {
    bottom: 5px;
    left: 20px;
    font-size: 30px;
    letter-spacing: 10px;
  }

  .content-link--big {
    span {
      font-size: 50px;
    }
  }
}




@media(max-width: 992px) {

  /* Header */
  .header__top,
  .header__info {
    margin-bottom: 120px;
  }

  .mobile__menu {
    visibility: visible;
  }

  .header__nav {
    position: fixed;
    z-index: 20;
    height: 100vh;
    top: 0;
    left: -100%;
    overflow-y: auto;
    background-color: #2a2a2a;
    transition: 1s;

    .header__nav-list {
      flex-direction: column;
      align-items: center;
    }

    .header__nav-item {
      padding: 40px;
      margin-right: 0;
    }
  }

  .header__nav.active {
    transition: 1s;
    left: 0%;
  }


  /* Content */
  .content {
    padding: 40px 0;
  }

  .content-link--big {
    span {
      font-size: 42px;
    }
  }

  .content__name {
    bottom: 5px;
    left: 20px;
    font-size: 20px;
    letter-spacing: 5px;
  }

  .content__inner {
    grid-gap: 40px;
  }


  /* instagram */
  .instagram__info-title {
    font-size: 50px;
  }


  /* Footer */
  .footer__nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__nav {
    padding-right: 20px;
  }

  .footer__nav-item {
    margin-right: 30px;
  }
}





@media(max-width: 768px) {

  /* Header */
  .header__top,
  .header__info {
    margin-bottom: 80px;
  }

  .header__info-title {
    font-size: 50px;
    line-height: 50px;
  }

  .logo-link img {
    max-width: 80%;
  }



  /* content */
  .content__inner {
    grid-gap: 10px;
  }

  .content-link--big {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .content-link--long {
    grid-row: 2/4;
    grid-column: 3/4;
  }



  /* instagram */
  .instagram__info-title {
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 22px;
  }

  .instagram__info-link {
    font-size: 24px;
  }



  /* footer */
  .footer {
    padding: 20px 0;
  }
}




@media(max-width:640px) {

  /* Header */
  .header__info-title {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 20px;
  }

  .header__info-link {
    font-size: 20px;
    line-height: 20px;
  }

  .logo-link img {
    max-width: 60%;
  }

  .header__btn {
    img {
      width: 10%;
    }
  }

  .mobile__menu {
    top: 3%;
  }


  /* content */
  .content {
    padding: 20px 0;
  }

  .content-link--big {
    span {
      font-size: 32px;
    }
  }

  .content__inner {
    grid-gap: 0px;
  }

  .content__name {
    bottom: 5px;
    left: 10px;
    font-size: 14px;
    letter-spacing: 0px;
  }

  .instagram__info-title {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 22px;
    padding: 0 10px;
  }

  .instagram__info-link {
    font-size: 16px;
  }


  /* footer */
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__nav {
    padding-right: 0;
    margin-bottom: 20px;
  }

}




@media(max-width:544px) {
  /* Header */
  .header__info-title {
    letter-spacing: 12px;
  }


  /* content */
  .content__link {
    grid-column: 1/4;
  }

  .content-link--long {
    grid-row: 6;
  }

  .content__name {
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    letter-spacing: 0px;
  }


  /* instagram */
  .instagram__info-title {
    letter-spacing: 4px;
  }

  .instagram__info-link {
    font-size: 14px;
    letter-spacing: 4px;

    &:hover {
      letter-spacing: 6px;
    }
  }


  /* footer */
  .footer__nav-link {
    font-size: 14px;
  }

  .footer__nav-item {
    margin-right: 20px;
  }

  .content__inner {
    grid-template-columns: repeat(3, minmax(86px, 280px));
  }
}